<div class="container">
    <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
        <label>modeles </label>
        <select class="form-control form-control-lg" id="idmod" name="idmod" [(ngModel)]="IdMod" (change)="onChange()">
            <option *ngFor="let modeles of modele" value="{{modele.idMod}}">
                {{modele.nomMod}}
            </option>
        </select>
    </div>
    <div class="card shadow mb-4">
    <div class="card-body">
    <table class="table table-striped">
    <tr> <th>Id</th><th>Nom</th> <th>Budget Rocket</th> <th>premierLancement</th>
    <tbody *ngFor="let modele of modeles">
    <tr >
    <td>{{modele.idMod}}</td>
    <td>{{modele.idNom}}</td>
    <td>{{modele.budgetRocket}}</td>
    <td>{{rocket.premierLancement | date: 'dd/MM/yyyy'}}</td>
    <!-- <td><a  class="btn btn-danger" (click)="supprimerSupermarket(SuperMARKET)">Supprimer</a></td>
    <td><a  class="btn btn-success" [routerLink]="['/updateSupermarket',SuperMARKET.idSuperMarket]">Modifier</a></td> -->>

    </tr>
    </tbody>
    </table>
    </div>
    </div>
</div>