<div class="container">
    <div class="card shadow mb-4">
    <div class="card-body">
    <table class="table table-striped">
    <tr> <th>Id</th><th>Nom</th> <th>Budget</th> <th>Premier Lancement</th> <th>modele</th> </tr>
    <tbody *ngFor="let rocket of rocket">
    <tr >
    <td>{{rocket.idRocket}}</td>
    <td>{{rocket.nomRocket}}</td>
    <td>{{rocket.budgetRocket}}</td>
    <td>{{rocket.premierLancement | date:'dd/MM/yyyy'}}</td>
    <td>{{rocket.modele.nomMod}}</td>
    <td><a class="btn btn-danger" (click)="supprimerRocket(rocket)">Supprimer</a></td>
    <td><a class="btn btn-success" [routerLink]="['/updateRocket',rocket.idRocket]">Modifier</a></td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>
